.quoteContainer{
    border: 2px solid rgb(15, 15, 14);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    font-size: 18px;
}

.quoteText {
    width: 50%;
    margin: 4rem auto 0;
    line-height: 2rem;
    font-size: 1.3rem;
  }
  
  .quoteOwner {
    text-align: right;
    color: rgb(15, 57, 247);
  }